.navbar-div {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 998;
}

.navbar {
    width: 100%;
    height: 52px;
    display: flex;
    vertical-align: middle;
    justify-content: space-between;

    -webkit-box-shadow: 0px 6px 14px -2px rgba(0,0,0,0.22);
    -moz-box-shadow: 0px 6px 14px -2px rgba(0,0,0,0.22);
    box-shadow: 0px 6px 14px -2px rgba(0,0,0,0.22);
}

.navbar .navbar-item {
    display: inherit;
    align-items: center;

    text-decoration: none;

    cursor: pointer;
}

.navbar .banner {
    background-color: black;
    width: 200px;
    overflow: hidden;

    font-size: 18px;
    color: white;
}

.navbar .banner:hover {
    background-color:black;
}

.navbar .banner div {
    display: inherit;
    margin: 0 auto;
    align-items: center;
}

.navbar-banner-logo {
    width: 75px;
    height: 75px;
    margin: 0 10px;
}

.navbar-banner-text {
    font-size: 20px;
    margin: 0;
}

.navbar .user {
    max-width: 300px;

    align-items: stretch;

    background-color: transparent;
    border: none;
    text-decoration: none;

    color: #f7f7f7;
}

.navbar .user:hover {
    background-color: #000000;
}

.navbar .user:focus {
    background-color:  #000000;
}

.navbar .user:focus {
    outline: 0;
}

.navbar .user .user-container {
    display: inherit;
    align-items: center;

    width: inherit;
}

.navbar-user-icon {
    margin: 0 10px;
}

.navbar .user .dropdown-items {
    top: 100%;
    right: 0;
    left: auto;
    position: absolute;
    overflow: hidden;

    display: none;

    min-width: 250px;
    max-width: 400px;

    box-shadow: 0px 4px 16px 0px rgba(0,0,0,0.2);
}

.navbar .user .is-active {
    display: block;
}

.navbar .user .dropdown-items a {
    white-space: nowrap;
    display: flex;

    padding: 1rem 1rem;

    background-color: white;
    color: black;

    font-size: 14px;
    text-decoration: none;
}

.navbar .user .dropdown-items a:hover {
    background-color: #d8d8d8;
}

.navbar .user .dropdown-items .is-detail {
    cursor: default !important;
    background-color: #d8d8d8;
}

.navbar .user .dropdown-items .is-detail:hover {
    background-color: #d8d8d8;
}

.navbar-user-text {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 200px;

    font-size: 16px;
}